DB_HOST=127.0.0.1
MYSQL_DATABASE=lingwhaat
MYSQL_ROOT_PASSWORD=qwerty
MYSQL_PORT=3327
MYSQL_WEB_USER=web
MYSQL_WEB_PASSWORD=qwerty
DATABASE_URL="mysql://${MYSQL_WEB_USER}:${MYSQL_WEB_PASSWORD}@${DB_HOST}:${MYSQL_PORT}/${MYSQL_DATABASE}?serverVersion=8.1.0"
DOMAIN=example.com
WIKTIONARY_UA_EMAIL=test@example.com
RATE_LIMITER_WHITELISTED_IP=127.0.0.1