{% extends 'base.html.twig' %}

{% block title %}Language Detection Form{% endblock %}

{% block body %}
    <h1>{{ prompt }}</h1>

    <form action="{{ path('get_language') }}" method="get">
        <label for="languageInput">Text:</label>
        <input type="text" id="languageInput" name="get_language" required>
        <button type="submit">Submit</button>
    </form>
{% endblock %}