{% extends 'base.html.twig' %}

{% block title %}Language Response{% endblock %}

{% block body %}
    <h1>Response</h1>

    <h3>Language: {{ language }}</h3>
    <h3>Code: {{ code }}</h3>
    <form action="{{ path('/') }}" method="get">
        <button type="button">Back</button>
    </form>
{% endblock %}